@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&display=swap');

:root {
    --Green: #008080;
    --Black: #2d2d2d;
    --White: #f8f8f8;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

nav {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: var(--Black);
    height: 100vh;
    width: 10vw;
    display: flex;
    position: fixed;
    float: left;
}

nav img {
    width: 140px;
    height: auto;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    position: relative;
}

nav li {
    padding-top: 30px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--White);
    font-weight: 400;
}

nav a:hover {
    border: 2px solid var(--Green);
    border-radius: 10px;
    padding: 5px;
    color: var(--Green);
}

main {
    width: 70vw;
    height: auto;
    float: right;
    margin: 40px 40px;
}

section {
    width: 90%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    text-transform: capitalize;
    color: var(--Green);
    margin: 0;
}

h2 {
    position: relative;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    bottom: 20px;
}

h3 {
    margin: 10px 0;
}

#Intro, #Font p {
    font-size: 24;
    font-weight: 400;
    position: relative;
    left: 30px;
}

p span {
    font-size: 20px;
    font-weight: 600;
}

.Colours {
    display: flex;
}

.Colours p {
    font-size: 12px;
}

.Colours h3 {
    margin: 0;
    margin-top: 8px;
}

.Green {
    background-color: var(--Green);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--White);
}

.Black {
    background-color: var(--Black);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--White);
}

.White {
    background-color: var(--White);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--Black);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--Black);
}

.White ion-icon {
    color: var(--Black);
}

ion-icon {
    color: var(--White);
    cursor: pointer;
    font-size: 40px;
    margin-top: 10px;
}





footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px 10px;
    float: right;
    background-color: var(--Black);
    color: var(--White);
    font-size: 12px;
}






@media (max-width: 767px) { 
    nav{
        display:none;
    }

    main {
        margin: 20px;
        padding: 0;
        float: left;
        justify-content: center;
        align-items: center;
    }

    .Green {
        padding: 0px 20px;
        height: 230px;
        border-radius: 20px;
    }

    .Black {
        padding: 0px 20px;
        height: 230px;
        border-radius: 20px;
    }

    .Green ion-icon {
        position: relative;
        top: 20px;
    }
    
    .Black ion-icon {
        position: relative;
        top: 20px;
    }

    .White {
        padding: 0px 20px;
        height: 220px;
        border-radius: 20px;
    }

    footer {
        width: 90%;
        padding: 20px;
        float: left;
    }
}
